<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.schibsted.leku"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

  <uses-sdk tools:overrideLibrary="android.support.test.uiautomator.v18"/>

  <application
      android:allowBackup="true"
      >

    <meta-data
        android:name="com.google.android.maps.v2.API_KEY"
        android:value=""
        />

    <activity
        android:name="com.schibstedspain.leku.LocationPickerActivity"
        android:label="@string/leku_title_activity_location_picker"
        android:launchMode="singleTop"
        android:windowSoftInputMode="adjustPan"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
      <intent-filter>
        <action android:name="android.intent.action.SEARCH" />
      </intent-filter>
      <meta-data android:name="android.app.searchable"
                 android:resource="@xml/leku_searchable" />
    </activity>
  </application>

  <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS"/>
  <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
</manifest>