build/
/*/bin/
/*/gen/
/*/proguard/
/*/out/
/*/.svn/
/*/.settings/
*.apk
*.ap_
*.dex
local.properties
project.properties
app/src/debug/
app/src/debug/*.xml

.idea/.name
.idea/*.xml
.idea/dataSources.ids
.idea/scopes/
.idea/inspectionProfiles/
.idea/*/
.metadata/
*.iml

.DS_Store
Thumbs.db

atlassian-ide-plugin.xml

/*/mapping.txt
/*/seeds.txt
/*/unused.txt


.gradle/*

projectFilesBackup/.idea/*.xml

site/
