language: android

branches:
  only:
    - master
    - /^v\d+\.\d+\.\d+$/

jdk:
- oraclejdk8

env:
  global:
    - TERM=dumb
    - DX_HEAP_SIZE=1536
    - secure: "XcGPMdYdcDCrWZNWJKZDmmUX2BKkpaInTWF/OqInDHSAP8Qib/xw69YZvHGBUP9GBQ+C+9OzrCT0Kmg+d0SyS+uz8W6Yc9FzgDLs07lVyCGDpQKaTpcyct2nmh8+3iZiMYnlSYjgpZqwXKOC1cvrVcX8jA/NtwXhVVJHsaVKP0mV8Hw0hibxNTU+V+vl1rICePcLNe8WZnIe/ESn1cuFb/o2aUjENmIVD74hJIgjRph+YeZXerKbnjHU5IvNoSHnp25exUoH3COUwPabpt142EXKXOIqHs5OiqmlrnjuFrSe7/WKVgjKpAN/daVhKut0JlAMviU05Naj/sv/J+Zsqa6RkW4va/GP+qlmkSjgz7qJLp8OZfknxim1VhaOCdgoWi6fHSN5LeVXu4COjUg5G3hyfVSBRIydVOj68KulUBSvnxmC5NszdUaprivENy8FGkxqImZM2GeqlqlYtPis7GZQsmXjyva9IDWVaNy7XEl5w4fpW3Y5XEX0ITOUwcUmQ7D41CelYlg5gFXRdUn/5Xyl5obb58GkxJ5TNAp84cjqAubjpB0lVuhqK7izrRYq7bQLwY2M5VZSuDxX9liJK0SztjAs63MYeuZz/fgKDn7rqRKCUzM9kA1hOAcXyx1KpBKL9cVFIltswSgDyBTYl6OqpygVjHiNOLdEPuO3kSs="
    - secure: "biJ1oYHr0J7wMouHbUbJ95zBDs63WzdmRwMjY3vydZGPn6brKsQNCvI+/bIjGqg7U03u06WRRQmuPO9bTjNbKj3H3pLn68nubAqz8YTNJvXdGZNowp8SoaTKeVBqVZXNTpcYmK3EBgAukSFGztC76TIg5+U7pO+X3Rc/ds/QMV3cJkgflcVndnwrCbN05szszUMD3n4s5MHtQ+KHyWwQXs3hl/i7wD6Yq8qUITmn1gHqzc6SxebiNo/kAF19+yQp2L6n0+JKPYlUSe88z1W8JEyNM1j4ohUM5OV7UtgYpJ9OqWIPBluV64ky5RMZBKA1mVxo3rLJ0SGTvZKAmQTiznnxKOxorfsQbRFt3DI8Bt1PoGcZsfTMVoE2vv7ycbCxaLQEZjf+DP44nFRDvdlwLuQlYTauYWDXsyQaeg7m0KfDhXJKH4cn2lSjDOMbR1Ym7xPMkoilAf7LhDG4PQ/RzM0L/ic97VZqnLAZAw+Sf62BDjHhoHANsjDqBNI/1LpVQ1QGII4wjU9J7b7ktmyc3+fjcqIKCpWchEZ3V+F1gjIem1UbLJekkbiFnrtMdOn8HiCwulglnxejrt6PBXvXr6hA5qy6tYDMbLI+j/RP/4Z0MvQ8Irt9xM3tupd0dSnqzTwUtTVYB4jFpcANaL3KxfTktxu478urIrf1d57okVU="
    - ANDROID_API=28
    - EMULATOR_API=24
    - ANDROID_BUILD_TOOLS=29.0.0
    - ADB_INSTALL_TIMEOUT=5

before_cache:
  - rm -f $HOME/.gradle/caches/modules-2/modules-2.lock

cache:
  directories:
    - $HOME/.gradle/caches/
    - $HOME/.gradle/wrapper/

android:
  components:
  - tools
  - tools
  - platform-tools
  - build-tools-$ANDROID_BUILD_TOOLS
  - android-$ANDROID_API
  - android-$EMULATOR_API
  - extra
  - extra-google-google_play_services
  - extra-google-m2repository
  - extra-android-m2repository
  - addon-google_apis-google-$ANDROID_API
  - sys-img-armeabi-v7a-addon-google_apis-google-$ANDROID_API
  - sys-img-armeabi-v7a-android-$EMULATOR_API

  licenses:
  - android-sdk-preview-license-.+
  - android-sdk-license-.+
  - google-gdk-license-.+

before_install:
  - mkdir "$ANDROID_HOME/licenses" || true
  - echo -e "\n8933bad161af4178b1185d1a37fbf41ea5269c55" > "$ANDROID_HOME/licenses/android-sdk-license"
  - echo -e "\n84831b9409646a918e30573bab4c9c91346d8abd" > "$ANDROID_HOME/licenses/android-sdk-preview-license"
  - chmod +x gradlew
  - echo y | android update sdk --no-ui --all --filter "tool,extra-android-m2repository,extra-android-support,extra-google-google_play_services,extra-google-m2repository"
  - echo y | $ANDROID_HOME/tools/bin/sdkmanager "extras;m2repository;com;android;support;constraint;constraint-layout-solver;1.0.2"
  - ./gradlew dependencies || true # DON'T ADD unless you are getting "Install missing components using SDK manager"
  #Source: https://medium.com/@oldergod/constraint-layout-and-circleci-travis-d50342696d2

before_script:
  - echo "y" | android update sdk -a --no-ui --filter android-$EMULATOR_API
  - echo "y" | android update sdk -a --no-ui --filter sys-img-armeabi-v7a-android-$EMULATOR_API
  - android list targets | grep -E '^id:' | awk -F '"' '{$1=""; print $2}' # list all targets
  - echo no | android create avd --force -n test -t android-$EMULATOR_API --abi armeabi-v7a
  - emulator -avd test -no-skin -no-window &
  - android-wait-for-emulator
  - adb shell input keyevent 82 &

script:
  - ./gradlew detektCheck
  - ./gradlew ktlintCheck
  - ./gradlew build --continue
  - ./gradlew connectedCheck -PdisablePreDex -Dorg.gradle.parallel=false -Pandroid.testInstrumentationRunnerArguments.notAnnotation=androidx.test.filters.FlakyTest

deploy:
  - provider: script
    script: scripts/bintrayUpload.sh
    skip_cleanup: true
    on:
      tags: true

after_deploy:
  - ./gradlew createTweet
