/*/build/
build/
/*/bin/
/*/gen/
/*/proguard/
/*/out/
/*/.svn/
/*/.settings/
/*/*.iml
*.apk
*.ap_
*.class
*.dex
local.properties
gradle.properties
project.properties

.idea/.name
.idea/*.xml
.idea/dataSources.ids
.idea/libraries/
.idea/scopes/
.idea/copyright/
.idea/dictionaries/
.idea/inspectionProfiles/
.gradle/
.metadata/
*.iml

*/.DS_Store
.DS_Store
Thumbs.db
atlassian-ide-plugin.xml

/*/mapping.txt
/*/seeds.txt
/*/unused.txt
