<manifest xmlns:android="http://schemas.android.com/apk/res/android">

  <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

  <application
      android:allowBackup="true"
      android:supportsRtl="true"
      >
  </application>

  <!-- YOU NEED TO INCLUDE THIS CODE IN YOUR APP
    <activity
        android:name="com.adevinta.leku.LocationPickerActivity"
        android:label="@string/leku_title_activity_location_picker"
        android:windowSoftInputMode="adjustPan"
        android:parentActivityName=".MainActivity">
        <intent-filter>
            <action android:name="android.intent.action.SEARCH" />
        </intent-filter>
        <meta-data android:name="android.leku_searchable"
            android:resource="@leku_searchable" />
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".MainActivity" />
    </activity>
    -->

</manifest>
